@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap");
@import "./navbar";

body,
html {
  margin: 0;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  display: none;
}

.main {
  display: grid;
  grid-template-columns: auto;

  section {
    padding: 3em;

    h1,
    h2 {
      text-transform: uppercase;
      margin: 0;
    }

    .go-btn,
    .read-btn {
      text-transform: uppercase;
      margin: 0;
      &:hover {
        font-size: 20px;
      }
    }

    h2 {
      font-size: 1.4rem;
    }

    .go-btn,
    .read-btn {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

    .primary {
      padding: 1.5em 1.5em 1.5em calc(3em + 25px);
      border: 1px solid gray;
      display: inline-block;
      margin-top: 3em;
      margin-left: -3em;
    }

    .clipper {
      overflow: hidden;
    }
  }

  section.welcome {
    padding-top: 8em;
    color: white;
    background: url("../image/brownhamburguer-bg.jpg");
    background-size: cover;

    p {
      width: 70%;
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    h1 {
      font-size: 2.4rem;
    }

    .go-btn {
      color: white;
    }
  }

  section.sidebar,
  section.about {
    font-size: 0.9rem;
    line-height: 1.6em;
  }

  section.sidebar {
    background: rgb(101, 197, 17);

    .read-btn {
      margin-top: 2em;
      display: block;
    }
  }

  section.about {
    .read-btn {
      margin-top: 2em;
      display: block;
    }
  }
}

@media only screen and(min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media only screen and(min-width: 1020px) {
  header {
    background: none;
    .logo {
      color: white;
    }
  }

  .main {
    grid-template-columns: 70% auto;
    grid-template-rows: 60% auto;
    grid-template-areas: "welcome " "welcome ";
    height: 100vh;
  }

  section.welcome {
    grid-area: welcome;
  }
  section {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
  }
}

@media only screen and(min-width:   1800px) {
  html {
    font-size: 21px;
  }
}
